@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* root */
:root {
  --menu-color: #8987a1;
  --menu-focus-color: #252432;
  --banner-title-color: #e95a08;
  --description-color: rgba(0, 0, 0, 0.5);
}

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
  width: 100%;
  background-color: var(--banner-title-color);
  border: none;
  color: white;
  padding: 20px 0px;
  font-weight: 600;
  cursor: pointer;
  transition: transform ease 0.5s;
}
.btn-primary:hover {
  transform: scale(1.05);
  background-color: var(--menu-focus-color);
}

/* Nav*/
.nav {
  padding: 20px;
}

.menu-home a {
  color: var(--menu-focus-color) !important;
}
.nav-right {
  gap: 50px;
}
.nav-menu ul {
  gap: 50px;
}
.nav-menu ul li {
  list-style: none;
}

.nav-menu ul li a {
  text-decoration: none;
  color: var(--menu-color);
}

.nav-cart a {
  text-decoration: none;
  color: var(--menu-focus-color);
}

/* banner starts here */
.banner {
  padding: 20px;
}
.banner-left-column {
  flex: 1;
}
.banner-right-column img {
  width: 100%;
}
.banner-title {
  font-size: 65px;
  font-weight: bold;
  color: var(--banner-title-color);
  margin-bottom: 20px;
}

.banner-title span {
  color: var(--menu-focus-color);
}

.banner-description {
  font-size: 22px;
  color: var(--description-color);
}
/* plants section */
.plants-section {
  padding: 20px;
}
.plants-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}
.plants-description {
  font-size: 22px;
  color: var(--description-color);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.plants-title span {
  color: var(--banner-title-color);
}
.plants-section-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  row-gap: 30px;
  margin-bottom: 100px;
}
.card {
  text-align: center;
}
.item-image {
  margin-bottom: 30px;
  width: 100%;
}
.item-name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.item-price {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* plants-love-section */
.plants-love-section {
  padding: 20px;
  gap: 60px;
  margin-bottom: 20px;
}
.plants-love-main-image {
  width: 100%;
}
.plants-love-left-column {
  width: 50%;
  position: relative;
}
.plants-love-badge {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 285px;
  right: -17%;
  top: -17%;
  animation: spin-infinite 5s infinite;
}
@keyframes spin-infinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.plants-love-right-column {
  flex: 1;
}
.plants-love-right-column-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.plants-love-right-column-list-item {
  font-size: 22px;
  color: var(--description-color);
  text-align: justify;
  /* list-style-position: inside; */
  padding-left: 30px;
}
.plants-love-right-column-list-item li {
  margin-bottom: 20px;
}

/* <!-- Latest Deal Section --> */
.latest-deal-section {
  padding: 20px;
  text-align: center;
  margin-bottom: 100px;
}
.latest-deal-section-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 16px;
}
.latest-deal-section-title span {
  color: var(--banner-title-color);
}

.latest-deal-section-description {
  color: var(--description-color);
  width: 80%;
  margin: 0px auto 20px auto;
}

/* latests-deal-cards */
.card-1 {
  background-image: url(../assets/deal-bloom.png);
  grid-area: card-1;
  background-size: cover;
  border-radius: 20px;
}
.card-2 {
  background-image: url(../assets/deal-ana.png);
  grid-area: card-2;
  height: 100%;
  background-size: cover;
  border-radius: 20px;
}
.card-3 {
  background-image: url(../assets/deal-zabo.png);
  grid-area: card-3;
  font-size: 40px;
  font-weight: bold;
  background-size: cover;
  border-radius: 20px;
}
.black-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  border-radius: 20px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
}
.card-align {
  align-content: center;
  color: white;
}
.card-align h1 {
  margin-bottom: 20px;
}
.card-align a {
  color: white;
}
.deal-card {
  display: grid;
  grid-template-areas:
    "card-1 card-3 card-3"
    "card-2 card-3 card-3";
  grid-template-rows: 200px 200px;
  gap: 20px;
  row-gap: 20px;
}

/* join us section starts here */
.join-us {
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  margin-bottom: 100px;
}
.join-us > div {
  border-radius: 0px;
}
.join-us-form {
  width: 80%;
  padding: 200px 0px;
  margin: 0 auto;
  text-align: center;
}
.join-us-form h1 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
  color: white;
}
.input-email {
  width: 79%;
  padding: 20px;
  font-size: 20px;
  border: none;
}
.input-email:focus {
  outline: none;
}

.input-button {
  width: 20%;
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  background-color: var(--banner-title-color);
  border: none;
  color: white;
}

/* footer starts here */
.footer-container {
  display: flex;
  justify-content: space-between;
  /* gap: 110px; */
}
.footer-left {
  width: 25%;
}
.footer-left p {
  font-size: 22px;
  color: var(--description-color);
}
.footer-left-middle ul li,
.footer-right-middle ul li {
  list-style: none;
  padding: 20px 0px;
}
.footer-left-middle ul li a,
.footer-right-middle ul li a {
  text-decoration: none;
  color: var(--menu-color);
}
.footer-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* responsive here */
@media screen and (max-width: 576px) {
  .nav-menu {
    display: none;
  }
  .banner {
    flex-direction: column-reverse;
    padding: 0px;
  }
  .banner-right-column img {
    width: 100%;
  }
  .banner-left-column {
    padding: 20px;
  }
  .banner-title,
  .plants-title,
  .plants-love-right-column-title,
  .latest-deal-section-title {
    font-size: 24px;
    margin-bottom: 13px;
  }
  .banner-description,
  .plants-description,
  .latest-deal-section-description {
    font-size: 14px;
  }
  .plants-description {
    text-align: center;
    width: 100%;
  }

  .plants-section-card {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
  .item-image {
    width: 100%;
  }
  .item-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .item-price,
  .input-email,
  .input-button {
    font-size: 16px;
  }
  .plants-love-section {
    flex-direction: column;
    padding: 20px;
  }
  .plants-love-left-column,
  .plants-love-left-column img {
    width: 100%;
  }
  .plants-love-badge {
    display: none;
  }

  .plants-love-right-column-list-item {
    padding-left: 20px;
    font-size: 14px;
  }

  .deal-card {
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3";
    grid-template-rows: 200px 200px 200px;
  }
  .card-align,
  .join-us-form h1 {
    font-size: 20px;
  }

  .join-us-form {
    padding: 65px 20px;
    width: 100%;
  }
  .input-email {
    padding: 15px;
    width: 68%;
  }
  .input-button {
    padding: 15px;
    width: 30%;
  }
  .footer-container {
    flex-direction: column;
    padding: 20px;
  }
  .footer-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-left p {
    font-size: 16px;
  }
  .footer-left-middle ul li,
  .footer-right-middle ul li {
    padding: 15px 0px;
  }
  .footer-right-middle {
    margin-bottom: 20px;
  }
  .footer-align-center {
    gap: 20px;
    justify-content: flex-start;
  }
}
